*.DS_Store

.idea
cmake-build-debug

build
libmagent.*

*.pyc
*.log
__pycache__


magent2.egg-info/
dist/

# docs
_build/*
docs/environments/*.md
!docs/environments/index.md

venv
test.ipynb
video/
MARLlib/
blue*.pt
deep-marl-toolkit-main
scripts
model
video
final/.vscode/launch.json
.vscode/launch.json
rl-agent-training (1).ipynb
test.py
vdn-marl.ipynb
